<a href="https://colab.research.google.com/github/Collokd/Collokd/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_03_Collins_Kemboi_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Moringa Data Science Prep Independent Project: Week 4

**Question**

Identifying the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

**Questions for consideration:**

*   What is the most popular hour for returning cars?
*   What station is the most popular? Overall? At the most popular picking hour?
*   What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code? Overall? At the most popular picking hour?
*   Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

**Datasets Provided**

*   Autolib_DDI_DB_description.docx [Link]
*   Autolib_dataset (2) [http://bit.ly/autolib_dataset]

# Importing our Libraries

In [0]:
# Importing our required libraries
# ---
# 
import pandas as pd
import numpy as np

# Loading our Dataset

In [23]:
# Autolib Dataset

url = 'http://bit.ly/autolib_dataset'

df = pd.read_csv(url)

df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [24]:
df.tail() # previewing records from behind

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

# Exploration

In [25]:
# Information about the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [26]:
# Data description

df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

# Data Preparation and Cleaning

In [27]:
# Checking the shape of the new dataset
# ---
# 
df.shape

(5000, 25)

In [28]:
# Checking for null values
# ---
# 
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# **1. Validity**

In [29]:
# Dropping the Display comment, subscribtion status, status and Scheduled at columns : We will not need the mentioned columns
# anywhere for our analysis.
# 
# 
df.drop(['Displayed comment', 'Scheduled at', 'Status','Subscription status' ], axis = 1, inplace = True)


df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 21 columns]

In [30]:
df.info() # Confirming remaining columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             5000 non-null   object
 1   Cars                5000 non-null   int64
 2   Bluecar counter     5000 non-null   int64
 3   Utilib counter      5000 non-null   int64
 4   Utilib 1.4 counter  5000 non-null   int64
 5   Charge Slots        5000 non-null   int64
 6   Charging Status     5000 non-null   object
 7   City                5000 non-null   object
 8   ID                  5000 non-null   object
 9   Kind                5000 non-null   object
 10  Geo point           5000 non-null   object
 11  Postal code         5000 non-null   int64
 12  Public name         5000 non-null   object
 13  Rental status       5000 non-null   object
 14  Slots               5000 non-null   int64
 15  Station type        5000 non-null   object
 16  year                5000 non-null   int64
 17  month               5000 non-null   int64
 18  day                 5000 non-null   int64
 19  hour                5000 non-null   int64
 20  minute              5000 non-null   int64
dtypes: int64(12), object(9)
memory usage: 820.4+ KB

#  **2. Accuracy**

In [31]:
# Checking for null values after dropping the columns
# ---
# 
df_null = df.isnull().sum()

df_null

Address               0
Cars                  0
Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
Charge Slots          0
Charging Status       0
City                  0
ID                    0
Kind                  0
Geo point             0
Postal code           0
Public name           0
Rental status         0
Slots                 0
Station type          0
year                  0
month                 0
day                   0
hour                  0
minute                0
dtype: int64

In [32]:
df_null2 = df.isnull().any()

df_null2

Address               False
Cars                  False
Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
Charge Slots          False
Charging Status       False
City                  False
ID                    False
Kind                  False
Geo point             False
Postal code           False
Public name           False
Rental status         False
Slots                 False
Station type          False
year                  False
month                 False
day                   False
hour                  False
minute                False
dtype: bool

# **3. Completeness**

In [33]:
# Data Cleaning Action: Check for duplicate values.
# Explanation: This is to allow us determine data that is duplicated.
#
df_duplicates = df.duplicated().sum()
df_duplicates

0

# **4. Consistency**

In [34]:
# Data Cleaning Action: Dropping null values if they exist.

#
df_new = df.dropna(how="all")
df_new.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 21 columns]

# **5. Uniformity**

In [35]:
# Data Cleaning Action: Converting column names to lowercase characters.
# Explanation: This is to allow for a uniform columns in the dataframe.
#
df_new.columns = df_new.columns.str.rstrip().str.lower()
df_new.head(5)

                              address  cars  bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 21 columns]

In [36]:
# Data Cleaning Action: Converting row values to lowercase characters.
# Explanation: This is to allow for rows to have uniform values which are in lowercase in the dataframe.
#
df_new = df_new.astype(str).apply(lambda x: x.str.lower())
df_new.head(5)

                              address cars bluecar counter  ... day hour minute
0                 2 avenue de suffren    0               0  ...   8   11     43
1           145 rue raymond losserand    6               6  ...   6    7     24
2    2 avenue john fitzgerald kennedy    3               3  ...   3   20     14
3              51 rue eugã¨ne oudinã©    3               3  ...   4    4     37
4  6 avenue de la porte de champerret    3               3  ...   8   17     23

[5 rows x 21 columns]

# Exporting our clean csv file

In [0]:
df_new.to_csv("autolib_clean.csv")

# Performing Analysis

In [50]:
url = "autolib_clean.csv"
data = pd.read_csv(url)
data.head()

   Unnamed: 0                             address  cars  ...  day  hour  minute
0           0                 2 avenue de suffren     0  ...    8    11      43
1           1           145 rue raymond losserand     6  ...    6     7      24
2           2    2 avenue john fitzgerald kennedy     3  ...    3    20      14
3           3              51 rue eugã¨ne oudinã©     3  ...    4     4      37
4           4  6 avenue de la porte de champerret     3  ...    8    17      23

[5 rows x 22 columns]

In [53]:
#Identify the most popular hour of the day for picking up a shared electric car 
# (Bluecar) in the city of Paris over the month of April 2018.*

df_p = data[['city', 'bluecar counter', 'hour']]
df_paris = data[data['city'] == 'paris']
df_p = df_paris.groupby(['bluecar counter'])['hour'].max().sort_values(ascending=False)
print(df_p)

bluecar counter
6    23
5    23
4    23
3    23
2    23
1    23
0    23
7    17
Name: hour, dtype: int64

In [54]:
# What is the most popular hour for returning cars?


df_most = data[["bluecar counter","day", "hour", "minute"]]
df_car = df_most[df_most["bluecar counter"] == 0]
df_car['hour'].max()

23

In [56]:
# Finding the most popular station( Overall) from our dataset.
#
df_station = data.groupby(['address'])['bluecar counter'].max().sort_values(ascending=False)

df_station.head(1)

address
194 rue de fontenay    7
Name: bluecar counter, dtype: int64

In [57]:
# Finding the most popular station (At the most popular picking hour) from our dataset.
#
df_stati = data.groupby(['address'])['hour'].max().sort_values(ascending=False)

df_stati.head(1)

address
11 rue robert lavergne    23
Name: hour, dtype: int64

In [59]:
# Find which postal code is the most popular for picking up Blue cars? 
# Does the most popular station belong to that postal code? from our dataset.
#
df_station1 = data[['address', 'postal code', 'bluecar counter']]
df_postal = df_station1.sort_values('bluecar counter', ascending=False)
df_postal.head(1)

                       address  postal code  bluecar counter
1985  99 rue charles-de-gaulle        91330                7

In [61]:
# Findb what charging status has the highest value for picking up Blue cars from our dataset.
#
df_city = data.groupby(['charging status'])['bluecar counter'].sum().sort_values(ascending=False)
df_city

charging status
nonexistent    7269
operational    4359
broken           40
Name: bluecar counter, dtype: int64